.contenedorPreguntas{
    height: 150px;
    width: 30%;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 4px;
    margin: 10px;
}
.DivRespuestas{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 200px;
}
label{
    margin-left: 15px;
}